@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.product {
    background-color: aqua;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product img {
    width: 100%;
}

.product h2 {
    font-size: 2rem;
    color: #505050;
    font-weight: 400;
}

.product h4 {
    font-size: 1.3rem;
    color: #E3F0FF;
}

.product p {
    font-size: 1rem;
    /* font-weight: 100; */
    color: #1c1c1c;
}

.product-price-container {
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart{
    background-color: purple;
    padding: 0.6rem 1.5rem;
    font-weight: 500;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart ion-icon {
    font-size: 3rem;
}

.add-to-cart:hover {
    background-color: rgb(0, 255, 136);
    color: purple;
}

.cart_btn {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

.cart_btn a {
    background-color: purple;
    padding:1.5rem;
    font-weight: 500;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cart_btn a:hover {
    background-color: aqua;
    color: #1c1c1c;
}


/* cart_html style */

.con {
    max-width: 120rem;
    margin: 0 auto;
}

#products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-cart {
    margin: 0 auto;
}

#products img {
    width: 20%;
}

.product-cart {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.cart_item {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.cart_item h2 {
    text-align: left;
}

.total {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.total p {
    margin-left: 20rem;
    font-size: 1.6rem;
}



